:root {
  --dark-color1: #171717;
  --dark-color2: #222020;
  --dark-color3: #2b242b;
}

body.dark-mode {
  background-color: var(--dark-color1) !important;
}

body.dark-mode .page-wrapper,
body.dark-mode .sticky-header,
body.dark-mode .header-style-two .header-lower .logo-box:before,
body.dark-mode .bg-dark-1,
body.dark-mode .testimonial-section-two.style-light,
body.dark-mode .service-section-two .outer-box .slick-slider .slick-arrow,
body.dark-mode .news-section,
body.dark-mode .booking-form-column.bg-light-style .inner-column:before,
body.dark-mode .news-block .inner-box .content-box .read-more {
  background-color: var(--dark-color1) !important;
}
body.dark-mode .testimonial-block-four .inner-box .info-box .icon {
  color: var(--dark-color1);
}
body.dark-mode .btn-style-one,
body.dark-mode .offer-banner .outer-box,
body.dark-mode .header-style-one .header-lower .logo-box:before,
body.dark-mode .header-style-one .main-box .btn-box:before,
body.dark-mode .header-style-four .header-top,
body.dark-mode .header-style-three .sticky-header.fixed-header,
body.dark-mode .header-style-four .sticky-header.fixed-header,
body.dark-mode .header-style-four .sticky-header.fixed-header,
body.dark-mode .header-style-two.style-light-theme,
body.dark-mode .header-style-two.style-light-theme .main-box,
body.dark-mode .header-style-two .main-box,
body.dark-mode .bg-dark-2,
body.dark-mode .room-service-block-one .inner-box,
body.dark-mode .contact-section .form-column .contact-form,
body.dark-mode .team-block .info-box,
body.dark-mode .contact-section.style-three .bg-image:before,
body.dark-mode .services-section-five,
body.dark-mode .service-section,
body.dark-mode .feature-row .content-column .inner-column,
body.dark-mode .pricing-section-two,
body.dark-mode .call-to-action,
body.dark-mode .testimonial-block-four .inner-box,
body.dark-mode .pricing-section,
body.dark-mode .service-section-two,
body.dark-mode .testimonial-section,
body.dark-mode .contact-section,
body.dark-mode .news-section,
body.dark-mode .booking-form-column.bg-light-style .inner-column .bk-form .frm-field input,
body.dark-mode .booking-form-column.bg-light-style .inner-column .bk-form .frm-field select {
  background-color: var(--dark-color2) !important;
}
body.dark-mode .checkout-form-section-two .checkout-form,
body.dark-mode .service-block-three .inner-box .content-box,
body.dark-mode .header-style-five .sticky-header.fixed-header,
body.dark-mode .banner-section-six,
body.dark-mode .rooms-section,
body.dark-mode .checkout-form-section.v3 .checkout-form {
  background: var(--dark-color2);
}
body.dark-mode .about-section-four .image-column .inner-column .image-box .image,
body.dark-mode .about-section-four .image-column .inner-column .image-box .image-2,
body.dark-mode .pricing-block-five .inner-box .content-column .inner-column .pricing-amount {
  border-color: var(--dark-color2);
}
body.dark-mode .bg-dark-3,
body.dark-mode .video-section-three .btn-box .play-now-two,
body.dark-mode .progress-info .progress .bar,
body.dark-mode .about-section-seven,
body.dark-mode .contact-section.style-three .form-column .contact-form input:not([type=submit]),
body.dark-mode .contact-section.style-three .form-column .contact-form textarea,
body.dark-mode .about-section-four .outer-box,
body.dark-mode .testimonial-block-five .content-box .text,
body.dark-mode .contact-section.style-two,
body.dark-mode .service-block .inner-box,
body.dark-mode .header-style-four.style-dark .header-top .info-user,
body.dark-mode .header-style-four.style-dark .header-top .inner-box .top-left span .icon,
body.dark-mode .news-block .inner-box .content-box {
  background-color: var(--dark-color3) !important;
}
body.dark-mode .about-section-two .image-column .image-2 img,
body.dark-mode .about-section-two .image-column .image-1 img,
body.dark-mode .contact-form .select2-container--default .select2-selection--single,
body.dark-mode .contact-form input:not([type=submit]),
body.dark-mode .contact-form textarea,
body.dark-mode .contact-form select,
body.dark-mode .video-section-three .btn-box .play-now-two,
body.dark-mode .pricing-block-four .inner-box .content-column .inner-column,
body.dark-mode .service-block .inner-box {
  border-color: var(--dark-color3);
}
body.dark-mode .marquee .text.text-style2 {
  -webkit-text-fill-color: #fff;
}
body.dark-mode .marquee .text {
  -webkit-text-stroke-color: #fff;
}
body.dark-mode .pricing-block .inner-box .image-column .image-box .image-2 {
  outline-color: var(--dark-color3);
}
body.dark-mode .service-block-six .icon-box .bg-shap svg path {
  fill: var(--dark-color3);
}
body.dark-mode .about-section .content-column .info-box {
  border-bottom: 1px solid var(--dark-color2);
}
body.dark-mode .pricing-block-five .inner-box .content-column .inner-column {
  border-color: var(--dark-color3);
}
body.dark-mode .btn-style-three,
body.dark-mode .work-tabs .tab-buttons .tab-btn {
  background-color: #000;
}
body.dark-mode .service-block-two .inner-box .hover-content .icon,
body.dark-mode .about-section-two .content-column .float-text {
  color: #3a3a3a;
}
body.dark-mode .blockquote-one {
  color: #8d8d8d;
}
body.dark-mode .sticky-header .mobile-nav-toggler,
body.dark-mode .main-header .info-btn small,
body.dark-mode .main-menu .navigation > li > a,
body.dark-mode .header-style-two .main-menu .navigation > li > a,
body.dark-mode .header-style-two .sticky-header .main-menu .navigation > li > a,
body.dark-mode .header-style-three .sticky-header.fixed-header .main-menu .navigation > li > a,
body.dark-mode .header-style-two .sticky-header .mobile-nav-toggler,
body.dark-mode .list-style-one li,
body.dark-mode .main-header .ui-btn,
body.dark-mode h1,
body.dark-mode h2,
body.dark-mode h3,
body.dark-mode h4,
body.dark-mode h5,
body.dark-mode h6,
body.dark-mode strong,
body.dark-mode .title a,
body.dark-mode .sec-title h2,
body.dark-mode .service-block-three .inner-box .content-box .title a,
body.dark-mode .testimonial-section-two .swiper-button-next:after,
body.dark-mode .testimonial-section-two .swiper-button-prev:after,
body.dark-mode .pricing-block-two .inner-box .content-box .title span,
body.dark-mode .counter-block-one .inner-box .counter-text,
body.dark-mode .testimonial-block-five .info-box .name,
body.dark-mode .service-section-two .outer-box .slick-slider .slick-arrow:before,
body.dark-mode .counter-block-two .inner-box .counter-text,
body.dark-mode .pricing-block .inner-box .content-column .inner-column .pricing-amount span,
body.dark-mode .header-style-two .mobile-nav-toggler {
  color: #fff !important;
}
body.dark-mode .about-section-five .image-column .exp-info {
  border-color: #fff;
}
body.dark-mode .pricing-block-four .inner-box .content-column .inner-column .pricing-amount span,
body.dark-mode .about-section-four .content-column .inner-column .inner .list-style-two li,
body.dark-mode .testimonial-block-four .content-box .text {
  color: rgba(255, 255, 255, 0.5);
}
body.dark-mode .btn-style-one,
body.dark-mode .testimonial-block-four .info-box {
  border-color: #2c2a2a;
}
body.dark-mode .feature-block .count {
  -webkit-text-stroke-color: #fff;
}
body.dark-mode .counter-block-two .count-box {
  -webkit-text-stroke-color: var(--bg-theme-color2);
}
body.dark-mode .header-style-two {
  background-color: unset;
}
body.dark-mode .bg-image-unset,
body.dark-mode .funfact-section .bg.bg-image {
  background-image: unset !important;
}
body.dark-mode .banner-section-two .bottom-box:before,
body.dark-mode .contact-section:before {
  opacity: 0.1;
}
body.dark-mode .header-style-two .outer-box .search-btn img {
  -webkit-filter: brightness(0) invert(1);
          filter: brightness(0) invert(1);
}
body.dark-mode .contact-form .form-group textarea {
  background-color: #0a090f;
}
body.dark-mode .contact-form .form-group input:not([type=submit]) {
  background-color: #0a090f;
}
body.dark-mode .newsletter-form-three .form-group input[type=text],
body.dark-mode .newsletter-form-three .form-group input[type=email] {
  background-color: rgba(22, 36, 62, 0.7);
}
body.dark-mode .client-block.dark-style img,
body.dark-mode .features-section .content-column .inner-column .author-box .inner .author-info img,
body.dark-mode .about-section-seven .content-column .bottom-box .auther-info .image {
  display: inline-block !important;
  width: auto !important;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background: unset;
  -webkit-filter: brightness(0) invert(1);
  filter: brightness(0) invert(1);
  opacity: 0.4;
}
body.dark-mode .news-section:before,
body.dark-mode .about-section-six .image-column .inner-column::after,
body.dark-mode .pricing-block .inner-box .image-column .inner-column:before,
body.dark-mode .pricing-section .anim-icons .image-4,
body.dark-mode .service-section:before,
body.dark-mode .about-section-three .image-column .image-1:after {
  opacity: 0.1;
}
body.dark-mode .news-section:before {
  display: none;
}